name: Add GitHub Package

on:
  workflow_dispatch:
    inputs:
      packageId:
        description: 'winget PackageId'
        required: true

jobs:
  script:
    name: ${{ inputs.packageId }}
    runs-on: windows-latest
    env:
      GH_TOKEN: ${{ github.token }}
      GITHUB_TOKEN: ${{ secrets.WINGET_PAT }}
    steps:
      - name: create App token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
      - name: Update package
        shell: pwsh
        run: |
          Import-Module .\modules\WingetMaintainerModule
          .\scripts\Add-GitHubPackage.ps1 -PackageId ${{ inputs.packageId }}
      - name: Commit and push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Add GitHub Package: ${{ inputs.packageId }}"
          file_pattern: .github/workflows/github-releases-monitored.yml