name: Update Package
on:
  workflow_dispatch:
    inputs:
      identifier:
        description: Package.Identifier
        required: true
      urls:
        description: URLs space separated
        required: false
      version:
        description: Version
        required: false
      WebsiteURL:
        description: WebsiteURL
        required: false
      submit:
        description: 'True to auto-submit'
        required: true
        type: boolean
        default: $false
      resolves: 
        description: 'resolves this issues'
        required: false
      With:
        description: 'WinGetCreate or komac'
        required: true
        type: string
        default: 'komac'
#  schedule:
#    - cron:  '3 12 * * *' # every 4 hours

jobs:
  komac-update:
    name: update with submit = ${{ inputs.submit }} 
#    if:  ${{ inputs.submit }} 
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update package
        id: update_version
        env:
          GITHUB_TOKEN: ${{ secrets.WINGET_PAT }}
          WINGET_PKGS_FORK_REPO: ${{ vars.WINGET_PKGS_FORK_REPO }}
          PackageName: ${{ inputs.identifier }}
          With: ${{ inputs.With }}
          Submit: ${{ inputs.submit }}
          latestVersion: ${{ inputs.version }}
          latestVersionUrl: ${{ inputs.urls }}
          resolves: ${{ inputs.resolves }}
          WebsiteURL: ${{ inputs.WebsiteURL }}
        run: .\Scripts\generic.ps1

#  komac-update-no-submit:
#       name: komac update (NO submit)
#       if:  ${{ inputs.submit != 'true' }}
#       runs-on: ubuntu-latest   
#       steps:
#       - name: Run Komac
#         uses: michidk/run-komac@v2
#         with:
#           args: 'update --identifier ${{ inputs.identifier }} --version ${{ inputs.version }} --urls ${{ inputs.urls }} --token=${{ secrets.WINGET_PAT }}'
#           custom-fork-owner: damn-good-b0t